// PostCreate.styled.scss
@import '../../assets/styles/themes'; // Asegúrate de importar los estilos de modal

.modal-content {
  padding: 1rem;
  margin: -2rem;
  background-color: var(--background-color);
  border-radius: var(--border-radius);

  .modal-title {
    display: contents;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: var(--text-color);
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    .modal-input,
    .modal-textarea,
    .modal-file-input {
      background-color: var(--background-color);
      color: var(--text-color);
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid var(--hover-color);
      border-radius: 2%;
      font-size: 1rem;

      &:focus {
        border-color: var(--text-color);
        outline: none;
        box-shadow: 0 0 5px var(--hover-color);
      }
    }

    .modal-textarea {
      height: 100px;
      background-color: var(--background-color); // Ajusta la altura según sea necesario
    }

    .modal-submit {
      padding: 10px;
      background-color: var(--header-background-color);
      color: var(--text-color);
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-size: 1rem;
      transition: var(--background-color) 0.3s;

      &:hover {
        background-color: var(--hover-color);
      }

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
      }
    }
  }

  .modal-error {
    color: red;
    margin-top: 15px;
  }

  .modal-close-button {
    margin-top: 15px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1rem;

    &:hover {
      color: var(--hover-color);
    }
  }
}
svg{
    color: var(--text-color);
    :hover{color: var(--hover-color);}
}