 
.light-theme {
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --header-background-color: #f1f1f1;
  --hover-color:#708396;
}

.dark-theme {
  --background-color: #333333;
  --text-color: #f8f9fa;
  --header-background-color: #708396;
  --hover-color:#ffa23e;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

