@import '../../assets/styles/variables';
@import '../../assets/styles/themes';


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 8rem; // Ancho del sidebar cuando está colapsado
    background-color: var(--header-background-color);
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; // Asegúrate de que no se desborde el contenido.
  
    &:hover {
      width: 12rem; // Ancho del sidebar cuando está expandido
    }

    .sidebar-header {
      margin-bottom: $spacing-lg;
      padding: 2rem;

      .sidebar-title {
        font-size: 1rem;
        padding: 1rem;
        color: var(--text-color);
        text-align: center;
        text-transform: uppercase;
        opacity: 1; // Siempre visible
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
    
      input {
        width: 100%;
        padding: $spacing-lg;
        border-radius: $border-radius;
        border: 1px solid var(--text-color);
        background-color: var(--background-color);
        color: var(--text-color);
        opacity: 0; // Ocultar inicialmente usando opacity
        visibility: hidden; // Ocultar visualmente
        pointer-events: none; // Evitamos interacción mientras está oculto
        transition: opacity 0.3s ease, visibility 0.3s ease; // Transición suave

        &:focus {
          outline: none;
          border-color: var(--hover-color);
        }
      }

      button,
      a {
        margin-bottom: 3rem;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        cursor: pointer;
        overflow: hidden;
        transition: color 0.3s ease; // Añadimos transición al hover

        .icon, .moon, .sun {
          font-size: 1.5rem; // Iconos visibles siempre
          margin: 1rem;
          padding-left: 2rem;
          color: var(--text-color);
        }

        .text {
          opacity: 0; // Ocultar inicialmente usando opacity
          visibility: hidden; // Ocultar visualmente
          transition: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease; // Transición suave incluyendo el color
        }

        // Añadir hover cuando el texto está visible
        &:hover { 
          color: var(--hover-color); // Cambiar el color del botón al hacer hover (incluye icono)
          
          .text {
            color: var(--hover-color); // Cambia el color del texto al hacer hover
          }

          .icon {
            color: var(--hover-color); // Cambia el color del icono al hacer hover
          }
        }
      }
    }

    // Cuando el menú está expandido (hover), mostramos los textos y el input
    &:hover {
      .sidebar-header .sidebar-title {
        opacity: 1; // Mostrar el título al expandir
        visibility: visible;
      }

      .sidebar-menu input {
        opacity: 1; // Mostrar el input
        visibility: visible;
        pointer-events: auto; // Permitimos interacción
        color: var(--text-color);
      }

      .sidebar-menu button .text,
      .sidebar-menu a .text {
        padding-right: 5rem;
        opacity: 1; // Mostrar el texto de los botones
        visibility: visible;
        color: var(--text-color);
      }

      // Aplicamos hover también cuando está visible
      .sidebar-menu button:hover .text,
      .sidebar-menu a:hover .text {
        color: var(--hover-color); // Cambia el color del texto cuando se hace hover
      }

      .icon {
        color: var(--text-color);
      }

      .sidebar-menu button:hover .icon,
      .sidebar-menu a:hover .icon {
        color: var(--hover-color); // Cambia el color del icono cuando se hace hover
      }
    }
  }
.modal-create{
    background-color: var(--background-color);
}
